body {
  background-color: #d8ccca;
  color: #372c2f;
  font-family: sans-serif;
  font: 16px "Noto Sans", system-ui, sans-serif;
  font-weight: 400;
  line-height: normal;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: absolute
}

p {
  letter-spacing: 0;
  color: #372c2f;
  word-spacing: 0;
  /*line-height:1.5*/

}

ol,
ul {
  margin: 0
}

a {
  font-weight: 400;
  color: #372c2f;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5
}

a,
a:hover {
  text-decoration: none
}

a:hover {
  padding: 3px 0;
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}


/* Style the navigation box */
.Nav {
  text-align: center;
  width: 10%;
  position: absolute;
  left: calc(20% - 80px);
  top: 15%;
}

.article-meta {
  margin-top: -20px;
}

/* Style the main content */
.article_box {
  width: 30%;
  position: relative;
  left: 25%;
  top: 10vh;
  /*margin-top: 15px;*/
  padding: 5px 20px;
  border-left: 4px solid #524F81;

}

.social-icons {
  display: flex;
  gap: 10px; /* Space between icons */
  justify-content: center; /* Center icons if desired */
  margin-top: 20px; /* Add some space above if needed */
}

.social-icon {
  width: 20px;   /* Adjust size as needed */
  display: inline-block;
}

/* Optional hover effect */
.social-icon:hover {
  opacity: 0.8;
}
