@font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/cc68a2016c0f7c97.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/130f7070a54d21de.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/f12538edea96532a.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/cc68a2016c0f7c97.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/130f7070a54d21de.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/f12538edea96532a.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/cc68a2016c0f7c97.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/130f7070a54d21de.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/f12538edea96532a.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/cc68a2016c0f7c97.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/130f7070a54d21de.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__Newsreader_8b4b1d;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/f12538edea96532a.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  .__className_8b4b1d {
    font-family:__Newsreader_8b4b1d;
    font-style:normal
  }
  .__variable_8b4b1d {
    --font-newsreader:"__Newsreader_8b4b1d"
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/d7b29b398dd797a1-s.woff2) format("woff2");
    unicode-range:u+0460-052f,
    u+1c80-1c8a,
    u+20b4,
    u+2de0-2dff,
    u+a640-a69f,
    u+fe2e-fe2f
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/5d4a6d6d18033392-s.woff2) format("woff2");
    unicode-range:u+0301,
    u+0400-045f,
    u+0490-0491,
    u+04b0-04b1,
    u+2116
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/891631c764a307b2-s.woff2) format("woff2");
    unicode-range:u+1f??
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/73b9b49ded63c2ac-s.woff2) format("woff2");
    unicode-range:u+0370-0377,
    u+037a-037f,
    u+0384-038a,
    u+038c,
    u+038e-03a1,
    u+03a3-03ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/8b7ed269fbb6e772-s.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/ef23c27b86d93109-s.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/7aa35bcef8fce17b-s.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/d7b29b398dd797a1-s.woff2) format("woff2");
    unicode-range:u+0460-052f,
    u+1c80-1c8a,
    u+20b4,
    u+2de0-2dff,
    u+a640-a69f,
    u+fe2e-fe2f
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/5d4a6d6d18033392-s.woff2) format("woff2");
    unicode-range:u+0301,
    u+0400-045f,
    u+0490-0491,
    u+04b0-04b1,
    u+2116
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/891631c764a307b2-s.woff2) format("woff2");
    unicode-range:u+1f??
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/73b9b49ded63c2ac-s.woff2) format("woff2");
    unicode-range:u+0370-0377,
    u+037a-037f,
    u+0384-038a,
    u+038c,
    u+038e-03a1,
    u+03a3-03ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/8b7ed269fbb6e772-s.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/ef23c27b86d93109-s.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(/_next/static/media/7aa35bcef8fce17b-s.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/d7b29b398dd797a1-s.woff2) format("woff2");
    unicode-range:u+0460-052f,
    u+1c80-1c8a,
    u+20b4,
    u+2de0-2dff,
    u+a640-a69f,
    u+fe2e-fe2f
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/5d4a6d6d18033392-s.woff2) format("woff2");
    unicode-range:u+0301,
    u+0400-045f,
    u+0490-0491,
    u+04b0-04b1,
    u+2116
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/891631c764a307b2-s.woff2) format("woff2");
    unicode-range:u+1f??
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/73b9b49ded63c2ac-s.woff2) format("woff2");
    unicode-range:u+0370-0377,
    u+037a-037f,
    u+0384-038a,
    u+038c,
    u+038e-03a1,
    u+03a3-03ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/8b7ed269fbb6e772-s.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/ef23c27b86d93109-s.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(/_next/static/media/7aa35bcef8fce17b-s.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/d7b29b398dd797a1-s.woff2) format("woff2");
    unicode-range:u+0460-052f,
    u+1c80-1c8a,
    u+20b4,
    u+2de0-2dff,
    u+a640-a69f,
    u+fe2e-fe2f
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/5d4a6d6d18033392-s.woff2) format("woff2");
    unicode-range:u+0301,
    u+0400-045f,
    u+0490-0491,
    u+04b0-04b1,
    u+2116
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/891631c764a307b2-s.woff2) format("woff2");
    unicode-range:u+1f??
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/73b9b49ded63c2ac-s.woff2) format("woff2");
    unicode-range:u+0370-0377,
    u+037a-037f,
    u+0384-038a,
    u+038c,
    u+038e-03a1,
    u+03a3-03ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/8b7ed269fbb6e772-s.woff2) format("woff2");
    unicode-range:u+0102-0103,
    u+0110-0111,
    u+0128-0129,
    u+0168-0169,
    u+01a0-01a1,
    u+01af-01b0,
    u+0300-0301,
    u+0303-0304,
    u+0308-0309,
    u+0323,
    u+0329,
    u+1ea0-1ef9,
    u+20ab
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/ef23c27b86d93109-s.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__EB_Garamond_4e3fdb;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/7aa35bcef8fce17b-s.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__EB_Garamond_Fallback_4e3fdb;
    src:local("Times New Roman");
    ascent-override:106.26%;
    descent-override:31.44%;
    line-gap-override:0.00%;
    size-adjust:94.77%
  }
  .__className_4e3fdb {
    font-family:__EB_Garamond_4e3fdb,__EB_Garamond_Fallback_4e3fdb;
    font-style:normal
  }
  .__variable_4e3fdb {
    --font-eb-garamond:"__EB_Garamond_4e3fdb","__EB_Garamond_Fallback_4e3fdb"
  }
  @font-face {
    font-family:__Libre_Baskerville_86181b;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/3e0204632fc66b80-s.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__Libre_Baskerville_86181b;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(/_next/static/media/640ece80909a508b-s.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__Libre_Baskerville_86181b;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/6ed04a86ee0f9353-s.woff2) format("woff2");
    unicode-range:u+0100-02ba,
    u+02bd-02c5,
    u+02c7-02cc,
    u+02ce-02d7,
    u+02dd-02ff,
    u+0304,
    u+0308,
    u+0329,
    u+1d00-1dbf,
    u+1e00-1e9f,
    u+1ef2-1eff,
    u+2020,
    u+20a0-20ab,
    u+20ad-20c0,
    u+2113,
    u+2c60-2c7f,
    u+a720-a7ff
  }
  @font-face {
    font-family:__Libre_Baskerville_86181b;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(/_next/static/media/d5fafdc7bbd3315c-s.p.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+0304,
    u+0308,
    u+0329,
    u+2000-206f,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
  }
  @font-face {
    font-family:__Libre_Baskerville_Fallback_86181b;
    src:local("Times New Roman");
    ascent-override:76.22%;
    descent-override:21.22%;
    line-gap-override:0.00%;
    size-adjust:127.26%
  }
  .__className_86181b {
    font-family:__Libre_Baskerville_86181b,__Libre_Baskerville_Fallback_86181b;
    font-style:normal
  }
  .__variable_86181b {
    --font-libre-baskerville:"__Libre_Baskerville_86181b","__Libre_Baskerville_Fallback_86181b"
  }
  body {
    background-color:#fff;
    font-family:var(--font-eb-garamond),serif;
    font-weight:400;
    height:100vh;
    width:100%;
    margin:0 auto;
    position:absolute
  }
  p {
    letter-spacing:0;
    word-spacing:0;
    line-height:1.5
  }
  ol,
  ul {
    margin:0
  }
  a {
    font-weight:400;
    color:#3b5edc;
    letter-spacing:0;
    word-spacing:0;
    line-height:1.5
  }
  a,
  a:hover {
    text-decoration:none
  }
  a:hover {
    color:#fff;
    padding:3px 0;
    background-color:#3b5edc
  }
  .layout_mainBox__uY5eU {
    width:40%;
    position:relative;
    left:30%;
    top:15vh;
    margin-top:15px;
    padding:5px 20px;
    border-left:3px solid #3b5edc
  }
  .layout_paddingBox__DHGLv {
    bottom:0;
    padding-bottom:20vh
  }
  .layout_markdown__LpXPt h1 {
    font-weight:400;
    font-size:2.5em;
    margin-top:0;
    margin-bottom:0
  }
  .layout_markdown__LpXPt h2 {
    font-family:var(--font-newsreader),serif;
    font-weight:500;
    font-size:1.5em;
    margin-top:1.5em;
    margin-bottom:0;
    line-height:.5
  }
  .layout_markdown__LpXPt h3 {
    color:#787878;
    font-style:italic;
    font-weight:300;
    font-size:1em;
    margin-top:0;
    margin-bottom:0
  }
  .layout_markdown__LpXPt h4 {
    font-family:var(--font-newsreader),serif;
    font-weight:500;
    font-size:1.1em;
    margin-top:1.5em;
    margin-bottom:.5em;
    line-height:.5
  }
  .layout_markdown__LpXPt p {
    margin-top:1em;
    margin-bottom:0
  }
  .layout_markdown__LpXPt ol,
  .layout_markdown__LpXPt ul {
    line-height:1.5em;
    margin-bottom:0
  }
  .layout_markdown__LpXPt ol {
    margin-top:.5em
  }
  .layout_markdown__LpXPt blockquote {
    font-weight:400;
    margin-bottom:0;
    margin-left:0;
    padding-left:10px;
    border-left:2px solid #87b9f1
  }
  .layout_markdown__LpXPt section {
    font-size:.5em
  }
  @media (max-width:768px) {
    .layout_mainBox__uY5eU {
      border-left:none;
      width:90%;
      left:5%;
      padding:0
    }
  }
  .Nav_navBox__0INdy {
    width:10%;
    position:absolute;
    left:calc(30% - 120px);
    top:15%
  }
  .Nav_paddingBox__MTTvv {
    bottom:0;
    padding-bottom:40px
  }
  .Nav_navTitle__v0OoO {
    font-weight:500;
    font-size:1.3em;
    margin-top:-2.5px
  }
  .Nav_navSubtitle__BkmpX {
    font-weight:400;
    font-size:1.1em
  }
  .Nav_currentPage__YVFIt {
    text-decoration:underline;
    text-decoration-thickness:2px;
    text-underline-offset:2px
  }
  .Nav_desktopNav__QpLJv {
    display:static
  }
  .Nav_mobileNav__sfDgg {
    display:none
  }
  @media (max-width:768px) {
    .Nav_navBox__0INdy {
      height:14vh;
      width:90%;
      top:0;
      left:5%
    }
    .Nav_desktopNav__QpLJv {
      display:none
    }
    .Nav_mobileNav__sfDgg {
      height:100%;
      width:100%;
      display:flex;
      gap:20px;
      justify-content:flex-end;
      align-items:flex-end
    }
  }
  